<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Demise
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
 <!-- <app-card-list [newsList]= newsList ></app-card-list> -->
 <ion-grid>
  <ion-row>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <ion-card wrap>
        <img src="https://m.media-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX178_CR0,0,178,264_AL_.jpg" />
        <ion-card-header>
          <ion-card-title>Heath Ledger</ion-card-title>
          <ion-card-subtitle>Location: Kundapura</ion-card-subtitle>
          <ion-card-subtitle>Date: 03-05-2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content> -->
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <ion-card wrap>
        <img src="https://m.media-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX178_CR0,0,178,264_AL_.jpg" />
        <ion-card-header>
          <ion-card-title>Heath Ledger</ion-card-title>
          <ion-card-subtitle>Location: Kundapura</ion-card-subtitle>
          <ion-card-subtitle>Date: 03-05-2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content> -->
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <ion-card wrap>
        <img src="https://m.media-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX178_CR0,0,178,264_AL_.jpg" />
        <ion-card-header>
          <ion-card-title>Heath Ledger</ion-card-title>
          <ion-card-subtitle>Location: Kundapura</ion-card-subtitle>
          <ion-card-subtitle>Date: 03-05-2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content> -->
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <ion-card wrap>
        <img src="https://m.media-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX178_CR0,0,178,264_AL_.jpg" />
        <ion-card-header>
          <ion-card-title>Heath Ledger</ion-card-title>
          <ion-card-subtitle>Location: Kundapura</ion-card-subtitle>
          <ion-card-subtitle>Date: 03-05-2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content> -->
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <ion-card wrap>
        <img src="https://m.media-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX178_CR0,0,178,264_AL_.jpg" />
        <ion-card-header>
          <ion-card-title>Heath Ledger</ion-card-title>
          <ion-card-subtitle>Location: Kundapura</ion-card-subtitle>
          <ion-card-subtitle>Date: 03-05-2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content> -->
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <ion-card wrap>
        <img src="https://m.media-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX178_CR0,0,178,264_AL_.jpg" />
        <ion-card-header>
          <ion-card-title>Heath Ledger</ion-card-title>
          <ion-card-subtitle>Location: Kundapura</ion-card-subtitle>
          <ion-card-subtitle>Date: 03-05-2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content> -->
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <ion-card wrap>
        <img src="https://m.media-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX178_CR0,0,178,264_AL_.jpg" />
        <ion-card-header>
          <ion-card-title>Heath Ledger</ion-card-title>
          <ion-card-subtitle>Location: Kundapura</ion-card-subtitle>
          <ion-card-subtitle>Date: 03-05-2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content> -->
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
      <ion-card wrap>
        <img src="https://m.media-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX178_CR0,0,178,264_AL_.jpg" />
        <ion-card-header>
          <ion-card-title>Heath Ledger</ion-card-title>
          <ion-card-subtitle>Location: Kundapura</ion-card-subtitle>
          <ion-card-subtitle>Date: 03-05-2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content> -->
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

