<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hi Sheenu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
 <ion-grid>
  <ion-row>
    <ion-col>
        <ion-title slot="">
          Latest news:
         </ion-title>
      <!-- </ion-col>
      <ion-col> -->
      <ion-item>
        <ion-nav-link (click)="news()" class="underline" slot="end" >see all...</ion-nav-link>
      </ion-item>
    </ion-col>
    </ion-row>
    </ion-grid>
  <app-slide></app-slide>

  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center" (click)="news()" >
          <img width="100" height="100" src="../../../assets/images/Trophy.svg" />
          <ion-card-header>
            <ion-card-title class="ion-text-wrap">Achievement</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center" (click)="news()" >
          <img width="100" height="100" src="../../../assets/images/Demise.svg" />
          <ion-card-header>
            <ion-card-title class="ion-text-wrap">Demise</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <ion-card class="ion-text-center" (click)="news()" >
          <img width="100" height="100" src="../../../assets/images/Community.svg" />
          <ion-card-header>
            <ion-card-title class="ion-text-wrap">Communities</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center" (click)="news()" >
          <img width="100" height="100"src="../../../assets/images/Community Knowledge.svg" />
          <ion-card-header>
            <ion-card-title class="ion-text-wrap">Know your communities</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
